@font-face {
  font-family: CharisSILW;
  src: url(fonts/CharisSIL-R.woff);
}
@font-face {
  font-family: CharisSILW;
  font-style: italic;
  src: url(fonts/CharisSIL-I.woff);
}
@font-face {
	font-family: CharisSILW;
	font-weight: bold;
	src: url(fonts/CharisSIL-B.woff);
}
@font-face {
	font-family: CharisSILW;
	font-weight: bold;
	font-style: italic;
	src: url(fonts/CharisSIL-BI.woff);
}

body {
    background: #000000;
	font-family: CharisSILW, Georgia;
	color: #ffffff;
}

h1 {
    margin-left: 40px;
}

a {
    -webkit-transition: color 1.25s; /* For Safari 3.1 to 6.0 */
    transition: color 1.25s;
}

a:link {
    color: #00bbff;
}

/* visited link */
a:visited {
    color: #00a0aa;
}

/* mouse over link */
a:hover {
    color: #00a0aa;
}

/* selected link */
a:active {
    color: #0000FF;
}